:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(228, 228, 228);
  background-color: #343434;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #63ac71;
  text-decoration: inherit;
}
a:hover {
  color: #97CFA1;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.back-button {
  width: 70px;
  height: auto;
}

.topleft-corner {
  position: absolute;
  top: 20px; /* Distance from the top */
  left: 20px; /* Distance from the left */
  z-index: 1000; /* Ensures it stays on top of other elements */
}

button {
  border-radius: 8px;
  border: 1px solid transparent black;
  margin: 0.9em; 
  padding: 0.6em 1.2em;
  font-size: 1.4em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fff8f8;
  color: black;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #1d1b19;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #97CFA1;
  }
  button {
    background-color: #f9f9f9;
  }
}

input {
  background-color: #eeeeee;
  border-radius: 8px;
  border: 1px solid transparent black;
  margin: 0.9em; 
  padding: 1.2em 1.8em;
  color: black;
}

.login-forms {
  background-color: #fffefe;
  color: #252525;
  padding: 120px;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 1px rgba(28, 28, 28, 0.2);
}

.login-button {
  background-color: #97CFA1;  
}

.styled-select {
  background-color: #eeeeee;
  border-radius: 8px;
  border: 1px solid transparent black;
  margin: 0.9em; 
  padding: 1.2em 1.8em;
  color: black;
  transition: background-color 0.3s ease;
  cursor: pointer;
}


.styled-select:focus {
  outline: none;
  border-color: #0a0a0f;
  box-shadow: 0 0 0 3px #252525;
}